@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --yellow: #f5c464;
  --blue: #283786;
  --grey: #f3f6f5;
  --dark-grey: #62615C;
}

body {
  font-family: "Montserrat", sans-serif;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.max-w {
  max-width: 1100px;
}

h1, h2, h3, h4, h5, h6 {
  @apply scroll-mt-28;  
}

.block-renderer a {
  color: var(--blue)
}

.block-renderer p {
  font-size: 17px;
  font-weight: 400;
  line-height: 2rem;
}

.block-renderer h2{
  @apply text-3xl lg:text-4xl;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 16px;
}

.block-renderer h3{
  font-weight: 800;
  font-size: 26px;
  color: var(--blue);
}

.block-renderer h4{
  font-weight: 800;
  font-size: 26px;
}

.block-renderer img {
  max-height: 700px;
}

.social-icons > li img {
  width: 20px;
}

.scrolled .social-icons {
  
  filter: brightness(0) saturate(100%) invert(19%) sepia(67%) saturate(1572%) hue-rotate(207deg) brightness(94%) contrast(91%);
}

.home-hero h1, .home-hero h2, .home-hero h3, .home-hero h4{
  font-size: 28px;
}

.step h1, .step h2, .step h3, .step h4, .step h5, .step h6 {
  color: #62615C;
  font-size: 20px;
  font-weight: 700;
}

.step p, .step span, .step li {
font-size: 14px;
font-weight: 400;
line-height: 1.6rem;
}

.step ul {
  list-style: disc inside;
}

.step-img{
  width: calc(33.33% - 4px);
}