@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --yellow: #f5c464;
}

body {
  font-family: "Montserrat", sans-serif;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.max-w {
  max-width: 1100px;
}

.block-renderer h1, h2, h3, h4, h5, h6 {
  @apply scroll-mt-28;  
}

.block-renderer a {
  color: rgb(79, 79, 198);
}

.block-renderer p {
  font-size: 17px;
  font-weight: 400;
  line-height: 2rem;
}

.block-renderer h2{

  @apply text-3xl lg:text-4xl;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 16px;
}

.block-renderer h3{
  font-weight: 600;

}

.block-renderer img {
  max-height: 700px;
}

.social-icons > li img {
  width: 20px;
}

.scrolled .social-icons {
  
  filter: brightness(0) saturate(100%) invert(19%) sepia(67%) saturate(1572%) hue-rotate(207deg) brightness(94%) contrast(91%);
}

.home-hero h1, h2, h3, h4{
  font-size: 28px;
}
