@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.max-w {
  max-width: 1280px;
}

.block-renderer a {
  color: rgb(79, 79, 198);
}

.block-renderer h2{
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
}

.block-renderer h3{
  font-weight: 600;

}

.social-icons > li img {
  width: 20px;
}

.scrolled .social-icons {
  
  filter: brightness(0) saturate(100%) invert(19%) sepia(67%) saturate(1572%) hue-rotate(207deg) brightness(94%) contrast(91%);
}

.home-hero h1, h2, h3, h4{
  font-size: 28px;
}
